.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #363435;
  color: white;
  text-align: center;
  margin-top: 50px;
}
.footer_up {
  margin-top: 30px;
  width: 100%;
  height: max-content;
  margin-bottom: 30px;
  display: flex;
}
.footer_left {
  display: flex;
  flex-direction: column;
}
.footer_img > img {
  height: 100px;
  padding-bottom: 5px;
}
.footer_head {
  margin-top: 5px;
}
.social_links > button {
  margin: 5px;
}
.block {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}
.block_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(207, 203, 203);
}
.block_content > ul > li {
  list-style: none;
}

.block {
  margin-left: 80px;
  margin-right: 20px;
}
